<table style="width:100%; border-collapse: separate; border-spacing:0">
  <th *ngFor="let key of keys" style="text-align: left">{{key}}</th>
    <tr *ngFor="let obj of data">
      <td  *ngFor="let key of keys">
        <app-table-data-two class="cell" [key]="key" [obj]="obj" ></app-table-data-two>
      </td>
    </tr>
</table>
<html>

<!--<head>-->
  <!--<title>HTML Tables</title>-->
<!--</head>-->

<!--<body>-->
<!--<table border = "1">-->
  <!--<tr>-->
    <!--<td>Row 1, Column 1</td>-->
    <!--<td>Row 1, Column 2</td>-->
  <!--</tr>-->

  <!--<tr>-->
    <!--<td>Row 2, Column 1</td>-->
    <!--<td>Row 2, Column 2</td>-->
  <!--</tr>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->
